.wrapper {
  display: grid;
  grid-template-columns: 800px 300px;
}

.avatar {
  width: 260px;
  height: auto;
  padding: 20px;
}

.rigthColumn {
  background-color: aquamarine;
}

.leftBlock {
  padding: 20px;
}
