@content0: content0;

.container {
  min-height: 446px;
  position: relative;
  overflow: hidden;

  .content {
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: 64px 0;
    will-change: transform;

    .titleWrapper {
      margin: 0 auto 48px;
      text-align: center;

      .titleName {
        font-size: 32px;
        margin: 0 auto 16px;
      }
    }

    .blockList {
      position: relative;
      height: 100%;
      top: 25%;
    }

    .blockWrapper {
      &.queue-anim-leaving {
        position: relative !important;
      }
    }

    .block {
      padding: 0 4%;
      text-align: center;
      min-height: 200px;
      margin-bottom: 24px;

      &Icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }

      &Title {
        line-height: 32px;
        margin: 10px auto;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-height: 880px;

    .content {
      padding: 56px 24px;

      .titleName {
        font-size: 24px;
        margin: 0 auto 8px;
      }
    }
  }
}
